In [1]:
import pandas as pd

boone20a= pd.read_csv("Listing-boone-06-01-2020-12-31-2020.csv")
# _df= pd.read_csv("Listing-boone-06-01-2019-12-31-2019.csv")
# _df= pd.read_csv("Listing-hamilton-06-01-2019-12-31-2019.csv")
# _df= pd.read_csv("Listing-hamilton-06-01-2020-07-31-2020.csv")
# _df= pd.read_csv("Listing-hamilton-08-01-2020-12-31-2020.csv")
# _df= pd.read_csv("Listing-hancock-06-01-2019-12-31-2019.csv")
# _df= pd.read_csv("Listing-hancock-06-01-2020-12-31-2020.csv")
# _df= pd.read_csv("Listing-hendricks-06-01-2019-12-31-2019.csv")
# _df= pd.read_csv("Listing-hendricks-06-01-2020-12-31-2020.csv")
johnson19_a= pd.read_csv("Listing-johnson-06-01-2019-12-31-2019.csv")
johnson20_a= pd.read_csv("Listing-johnson-06-01-2020-12-31-2020.csv")
marion19_a= pd.read_csv("Listing-marion-06-01-2019-08-31-2019.csv")
marion20_a= pd.read_csv("Listing-marion-06-01-2020-08-31-2020.csv")
marion19_b = pd.read_csv("Listing-marion-09-01-2019-11-30-2019.csv")
marion20_b= pd.read_csv("Listing-marion-09-01-2020-11-30-2020.csv")
marion19_c= pd.read_csv("Listing-marion-11-01-2019-12-31-2019.csv")
marion20_c= pd.read_csv("Listing-marion-11-01-2020-12-31-2020.csv")
# _df= pd.read_csv("single-line-boone-06-01-2019-12-31-2019.csv")
boone20b= pd.read_csv("single-line-boone-06-01-2020-12-31-2020.csv")
# _df= pd.read_csv("single-line-hamilton- 06-01-2020-07-31-2020.csv")
# _df= pd.read_csv("single-line-hamilton-06-01-2019-12-31-2019.csv")
# _df= pd.read_csv("single-line-hamilton-08-01-2020-12-31-2020.csv")
# _df= pd.read_csv("single-line-hancock-06-01-2019-12-31-2019.csv")
# _df= pd.read_csv("single-line-hancock-06-01-2020-12-31-2020.csv")
# _df= pd.read_csv("single-line-hendricks-06-01-2019-12-31-2019.csv")
# _df= pd.read_csv("single-line-hendricks-06-01-2020-12-31-2020.csv")
johnson19a= pd.read_csv("single-line-johnson-06-01-2019-12-31-2019.csv")
johnson20a= pd.read_csv("single-line-johnson-06-01-2020-12-31-2020.csv")
marion19a= pd.read_csv("single-line-marion-06-01-2019-08-31-2019.csv")
marion20a= pd.read_csv("single-line-marion-06-01-2020-08-31-2020.csv")
marion19b= pd.read_csv("single-line-marion-09-01-2019-11-30-2019.csv")
marion20b= pd.read_csv("single-line-marion-09-01-2020-11-30-2020.csv")
marion19c= pd.read_csv("single-line-marion-11-01-2019-12-31-2019.csv")
marion20c= pd.read_csv("single-line-marion-11-01-2020-12-31-2020.csv")

In [2]:
new_df = pd.merge(boone20a, boone20b, left_on = 'MLSNumber', right_on = 'BLC # ')

new_df

,MLSNumber,NewConstructionYN,PropertyType,PropertySubType,StreetNumberAlpha,StreetName,ListAgentFullName,CoListAgentFullName,OriginalListPrice,ListPrice,...,Subdivision,# Fireplaces,Lvls,Gar,# of Garage Spaces,Sq Ft Main Upper,Basement,Total Sq Ft,DOM,List Office MLSID
0,21757458,NaN,Residential,Single Fam,NaN,700,Robbin Edwards,NaN,215000.0,195000,...,NO SUBDIVISION,1,1LEVL,ATTACH,2,"1,582",No,"1,582",40,ECOR01
1,21755918,NaN,Residential,Single Fam,NaN,Whitestown Parkway,Stan Comer,NaN,300000.0,300000,...,NO SUBDIVISION,0,1LEVL,"DETATCH,MULTI",4+,"1,112",Yes,"1,390",52,CARP12
2,21752886,NaN,Residential,Single Fam,NaN,Farlin,Marie Edwards,NaN,391623.0,391624,...,WESTWOOD LANDING,1,1LEVL,ATTACH,3,"2,893",No,"2,893",69,HMSR01
3,21754272,NaN,Residential,Single Fam,NaN,Farlin,Marie Edwards,NaN,406033.0,406033,...,WESTWOOD LANDING,1,2LEVL,ATTACH,3,"3,138",No,"3,138",67,HMSR01
4,21757135,NaN,Residential,Single Fam,NaN,Peggy,Vern Carter,NaN,424900.0,424900,...,HAMPSHIRE,1,2LEVL,ATTACH,3,"3,115",No,"3,115",44,FFRL01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1054,21740416,NaN,Residential,Single Fam,NaN,225,Rodney Richardson,NaN,324998.0,324998,...,NO SUBDIVISION,1,1LEVL,ATTACH,3,"1,618",No,"1,618",4,RIRC01
1055,21731362,NaN,Residential,Single Fam,NaN,500,Ryan Radecki,Angela Line,410000.0,395900,...,NO SUBDIVISION,1,2LEVL,"ATTACH,MULTI",2,"2,800",No,"2,800",31,EZST01
1056,21728765,NaN,Residential,Single Fam,NaN,275,Heidi Wolff,NaN,625000.0,650000,...,NO SUBDIVISION,1,2LEVL,"ATTACH,DETATCH,MULTI",4+,"5,070",No,"5,070",48,REAB08
1057,21726200,NaN,Residential,Single Fam,NaN,150,Lisa K Batts,NaN,595000.0,595000,...,NO SUBDIVISION,1,2LEVL,ATTACH,3,"2,508",Yes,"3,684",8,BREG01
1058,21728305,NaN,Residential,Single Fam,NaN,450,Deena Cooper,NaN,585000.0,585000,...,NO SUBDIVISION,0,1LEVL,ATTACH,3,"2,212",Yes,"3,535",2,CARP26

In [3]:
boone20a['MLSNumber'].nunique()

1059

In [4]:
boone20b = boone20b.rename(columns = {'MLSNumber': 'BLC # '}, inplace = False)

boone20b

,Unnamed: 0,BLC #,St,P Type,Address,Area,List/MoRnt $,Beds Total,Baths Full,Baths Half,...,Subdivision,# Fireplaces,Lvls,Gar,# of Garage Spaces,Sq Ft Main Upper,Basement,Total Sq Ft,DOM,List Office MLSID
0,1,21757458,Active,SFD,5486 S 700 E,601,"$195,000",3,1,0,...,NO SUBDIVISION,1,1LEVL,ATTACH,2,"1,582",No,"1,582",40,ECOR01
1,1,21755918,Active,SFD,7370 E Whitestown Parkway,601,"$300,000",2,2,0,...,NO SUBDIVISION,0,1LEVL,"DETATCH,MULTI",4+,"1,112",Yes,"1,390",52,CARP12
2,1,21752886,Active,SFD,6156 Farlin Dr,601,"$391,624",3,2,1,...,WESTWOOD LANDING,1,1LEVL,ATTACH,3,"2,893",No,"2,893",69,HMSR01
3,1,21754272,Active,SFD,6088 Farlin Dr,601,"$406,033",4,3,1,...,WESTWOOD LANDING,1,2LEVL,ATTACH,3,"3,138",No,"3,138",67,HMSR01
4,1,21757135,Active,SFD,8177 Peggy Ct,601,"$424,900",4,2,1,...,HAMPSHIRE,1,2LEVL,ATTACH,3,"3,115",No,"3,115",44,FFRL01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1054,1001,21740416,S,SFD,7505 N 225 W,612,"$325,000",3,2,0,...,NO SUBDIVISION,1,1LEVL,ATTACH,3,"1,618",No,"1,618",4,RIRC01
1055,1001,21731362,S,SFD,731 W 500 N,612,"$393,000",3,2,1,...,NO SUBDIVISION,1,2LEVL,"ATTACH,MULTI",2,"2,800",No,"2,800",31,EZST01
1056,1001,21728765,S,SFD,4855 N 275 W,612,"$575,000",3,3,0,...,NO SUBDIVISION,1,2LEVL,"ATTACH,DETATCH,MULTI",4+,"5,070",No,"5,070",48,REAB08
1057,1001,21726200,S,SFD,4861 N 150 W,612,"$575,000",3,2,1,...,NO SUBDIVISION,1,2LEVL,ATTACH,3,"2,508",Yes,"3,684",8,BREG01
1058,1001,21728305,S,SFD,5110 W 450 N,612,"$585,000",4,3,1,...,NO SUBDIVISION,0,1LEVL,ATTACH,3,"2,212",Yes,"3,535",2,CARP26

In [5]:
new_df

,MLSNumber,NewConstructionYN,PropertyType,PropertySubType,StreetNumberAlpha,StreetName,ListAgentFullName,CoListAgentFullName,OriginalListPrice,ListPrice,...,Subdivision,# Fireplaces,Lvls,Gar,# of Garage Spaces,Sq Ft Main Upper,Basement,Total Sq Ft,DOM,List Office MLSID
0,21757458,NaN,Residential,Single Fam,NaN,700,Robbin Edwards,NaN,215000.0,195000,...,NO SUBDIVISION,1,1LEVL,ATTACH,2,"1,582",No,"1,582",40,ECOR01
1,21755918,NaN,Residential,Single Fam,NaN,Whitestown Parkway,Stan Comer,NaN,300000.0,300000,...,NO SUBDIVISION,0,1LEVL,"DETATCH,MULTI",4+,"1,112",Yes,"1,390",52,CARP12
2,21752886,NaN,Residential,Single Fam,NaN,Farlin,Marie Edwards,NaN,391623.0,391624,...,WESTWOOD LANDING,1,1LEVL,ATTACH,3,"2,893",No,"2,893",69,HMSR01
3,21754272,NaN,Residential,Single Fam,NaN,Farlin,Marie Edwards,NaN,406033.0,406033,...,WESTWOOD LANDING,1,2LEVL,ATTACH,3,"3,138",No,"3,138",67,HMSR01
4,21757135,NaN,Residential,Single Fam,NaN,Peggy,Vern Carter,NaN,424900.0,424900,...,HAMPSHIRE,1,2LEVL,ATTACH,3,"3,115",No,"3,115",44,FFRL01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1054,21740416,NaN,Residential,Single Fam,NaN,225,Rodney Richardson,NaN,324998.0,324998,...,NO SUBDIVISION,1,1LEVL,ATTACH,3,"1,618",No,"1,618",4,RIRC01
1055,21731362,NaN,Residential,Single Fam,NaN,500,Ryan Radecki,Angela Line,410000.0,395900,...,NO SUBDIVISION,1,2LEVL,"ATTACH,MULTI",2,"2,800",No,"2,800",31,EZST01
1056,21728765,NaN,Residential,Single Fam,NaN,275,Heidi Wolff,NaN,625000.0,650000,...,NO SUBDIVISION,1,2LEVL,"ATTACH,DETATCH,MULTI",4+,"5,070",No,"5,070",48,REAB08
1057,21726200,NaN,Residential,Single Fam,NaN,150,Lisa K Batts,NaN,595000.0,595000,...,NO SUBDIVISION,1,2LEVL,ATTACH,3,"2,508",Yes,"3,684",8,BREG01
1058,21728305,NaN,Residential,Single Fam,NaN,450,Deena Cooper,NaN,585000.0,585000,...,NO SUBDIVISION,0,1LEVL,ATTACH,3,"2,212",Yes,"3,535",2,CARP26

In [6]:
marion20_single_line = pd.concat([marion20a, marion20b, marion20c])

marion20_single_line

,Unnamed: 0,BLC #,St,P Type,Address,Area,List/MoRnt $,Beds Total,Baths Full,Baths Half,...,Subdivision,# Fireplaces,Lvls,Gar,# of Garage Spaces,Sq Ft Main Upper,Basement,Total Sq Ft,DOM,List Office MLSID
0,1,21732062,Active,CND,6454 Potomac Square Ln Unit#7,4902,"$130,000",2,2,1,...,GEORGETOWN,1,2LEVL,ATTACH,2,"1,600",No,"1,600",11,SVTN01
1,1,21734409,Active,SFD,7545 SEDGE MEADOW Dr,4902,"$839,900",5,4,2,...,THE PRESERVE AT EAGLE CREEK,2,1HALF,"ATTACH,MULTI",4+,"4,823",Yes,"8,646",150,WSRL01
2,1,21730974,Active,SFD,7014 Andre Dr,4902,"$895,000",5,5,1,...,NORMANDY FARMS,2,2LEVL,ATTACH,3,"3,256",Yes,"5,203",163,BHHS01
3,1,21715582,Active,CND,4000 N Meridian St Unit#2A,4903,"$159,000",1,1,0,...,TARKINGTON TOWER,0,1LEVL,ATTACH,1,"1,000",No,"1,000",235,EXPL01
4,1,21729240,Active,SFD,534 E 40TH St,4903,"$164,999",2,1,0,...,NORTHERN HEIGHTS,1,1LEVL,NONE,NaN,"1,261",Yes,"2,445",171,CBRL01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3717,3501,21730417,S,SFD,2426 Shaw Avenue,4993,"$201,000",3,1,2,...,SPEEDWAY MANOR,0,1LEVL,ATTACH,2,"1,053",Yes,"2,106",57,BHHS01
3718,3501,21737135,S,SFD,1646 Desoto Ln,4993,"$204,500",3,1,1,...,SPEEDWAY CUNNINGHAM PARK,1,1LEVL,ATTACH,2,"1,232",Yes,"2,464",24,FTRE01
3719,3501,21752168,S,SFD,2527 Philwood Dr,4993,"$210,000",3,2,1,...,FALENDERS MEADOWOOD,0,1LEVL,ATTACH,2,"1,160",Yes,"2,320",2,TUCK04
3720,3501,21734884,S,SFD,1120 Rosner Dr,4993,"$214,900",2,2,0,...,NO SUBDIVISION,1,1LEVL,DETATCH,4+,"1,232",Yes,"1,722",35,NRET01
3721,3501,21745998,S,SFD,5035 W 14TH St,4993,"$230,000",3,2,0,...,SPEEDWAY CITY,1,1LEVL,DETATCH,2,"1,092",Yes,"2,184",3,KWIN01

In [7]:
marion19_single_line = pd.concat([marion19a, marion19b, marion19c])

marion19_single_line

,Unnamed: 0,BLC #,St,P Type,Address,Area,List/MoRnt $,Beds Total,Baths Full,Baths Half,...,Subdivision,# Fireplaces,Lvls,Gar,# of Garage Spaces,Sq Ft Main Upper,Basement,Total Sq Ft,DOM,List Office MLSID
0,1,21646528,Active,SFD,7575 N Illinois St,4903,"$799,900",5,4,1,...,NORTH MERIDIAN HILLS,2,1HALF,ATTACH,2,"3,412",Yes,"5,716",484,MCNU01
1,1,21651933,Active,SFD,6639 E 52nd St,4904,"$489,000",3,1,0,...,BROOKHAVEN,1,1LEVL,DETATCH,1,936,No,936,356,CORP01
2,1,21664090,Active,SFD,2221 N Leland Ave,4905,"$65,000",2,1,0,...,EMERSON GARDENS,0,1LEVL,DETATCH,2,840,No,840,515,NOLI01
3,1,21651300,Active,SFD,7309 Parklake Pl,4907,"$489,000",3,2,0,...,PARK VIEW AT WELLINGTON,0,1LEVL,ATTACH,2,"1,240",No,"1,240",356,CORP01
4,1,21664092,Active,SFD,1112 W Eugene St,4911,"$90,000",3,1,1,...,BRADENS,0,1HALF,DETATCH,1,"1,884",Yes,"1,884",514,NOLI01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2306,2001,21660279,S,SFD,5808 W 18th St,4993,"$174,900",3,1,1,...,SCHLOSS HOME PLACE,1,1LEVL,DETATCH,2,"1,456",Yes,"2,512",35,TRBL01
2307,2001,21667492,S,SFD,2055 Gerrard Ave,4993,"$185,000",2,2,0,...,EVERETT M SCHOFIELD,4,2LEVL,DETATCH,1,831,Yes,"1,629",6,REAR01
2308,2001,21670216,S,SFD,5868 Nash Ln,4993,"$188,000",4,2,0,...,SPEEDWAY CUNNINGHAM PARK,0,1LEVL,DETATCH,1,"1,040",Yes,"2,080",21,KWIN04
2309,2001,21664810,S,SFD,6035 N Maren Dr,4993,"$199,900",4,2,0,...,FALENDERS MEADOWOOD,0,2LEVL,ATTACH,2,"1,954",Yes,"2,916",45,BHHS03
2310,2001,21670629,S,SFD,5844 Hollister Dr,4993,"$204,900",4,1,1,...,FALENDERS MEADOWOOD,1,TRILV,DETATCH,2,"1,768",Yes,"2,248",2,CARP04

In [8]:
marion19_listing = pd.concat([marion19_a, marion19_b, marion19_c])

marion19_listing

,MLSNumber,NewConstructionYN,PropertyType,PropertySubType,StreetNumberAlpha,StreetName,ListAgentFullName,CoListAgentFullName,OriginalListPrice,ListPrice,ListingContractDate,ExpirationDate,SellingOfficeName,SellingAgentFullName
0,21646528,NaN,Residential,Single Fam,NaN,Illinois,Tom McNulty,NaN,974900.0,799900,2019-06-22,NaN,NaN,NaN
1,21651933,NaN,Residential,Single Fam,NaN,52nd,Keith Dedrick,NaN,3300000.0,489000,2019-07-02,NaN,NaN,NaN
2,21664090,NaN,Residential,Single Fam,NaN,Leland,Charlene Gaard,NaN,65000.0,65000,2019-08-28,NaN,NaN,NaN
3,21651300,NaN,Residential,Single Fam,NaN,Parklake,Keith Dedrick,NaN,3300000.0,489000,2019-06-28,NaN,NaN,NaN
4,21664092,NaN,Residential,Single Fam,NaN,Eugene,Charlene Gaard,NaN,90000.0,90000,2019-08-29,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2306,21660279,NaN,Residential,Single Fam,NaN,18th,Brian Black,NaN,189900.0,174900,2019-08-06,2019-12-06,"Carpenter, REALTORS®",Jennifer L. Turner
2307,21667492,NaN,Residential,Single Fam,NaN,Gerrard,Eric Cottongim,NaN,200.0,200000,2019-09-13,2019-12-13,RE/MAX Centerstone,Robin Pickett
2308,21670216,NaN,Residential,Single Fam,NaN,Nash,Christopher G. Price,NaN,200000.0,190000,2019-09-20,2020-03-24,RE/MAX Advanced Realty,Karen Newman
2309,21664810,NaN,Residential,Single Fam,NaN,Maren,Dean A. Hicks,NaN,219900.0,199900,2019-08-27,2020-03-26,CENTURY 21 Scheetz,Barbara J. Bade
2310,21670629,NaN,Residential,Single Fam,NaN,Hollister,Sibylle Walker,NaN,204900.0,204900,2019-09-23,2020-03-23,F.C. Tucker Company,David T. Jessee

In [9]:
marion20_listing = pd.concat([marion20_a, marion20_b, marion20_c])

marion20_listing

,MLSNumber,NewConstructionYN,PropertyType,PropertySubType,StreetNumberAlpha,StreetName,ListAgentFullName,CoListAgentFullName,OriginalListPrice,ListPrice,ListingContractDate,ExpirationDate,SellingOfficeName,SellingAgentFullName
0,21732062,NaN,Residential,Condo,NaN,Potomac Square,LaTasha Stevenson,NaN,130000.0,130000,2020-08-14,NaN,NaN,NaN
1,21734409,NaN,Residential,Single Fam,NaN,SEDGE MEADOW,Joshua Baradaran-Dilmaghani,NaN,869900.0,839900,2020-08-27,NaN,NaN,NaN
2,21730974,NaN,Residential,Single Fam,NaN,Andre,James Stone,NaN,895000.0,895000,2020-08-14,NaN,NaN,NaN
3,21715582,NaN,Residential,Condo,NaN,Meridian,Rodney Heard,Jason Miller,174900.0,159000,2020-06-02,NaN,NaN,NaN
4,21729240,NaN,Residential,Single Fam,NaN,40TH,Dave Ellis,NaN,190000.0,164999,2020-07-31,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3717,21730417,NaN,Residential,Single Fam,NaN,Shaw Avenue,Timothy O'Connor,Bill McMurray,225000.0,209000,2020-08-06,2021-02-05,The Stewart Home Group,Abigail Fitzpatrick
3718,21737135,NaN,Residential,Single Fam,NaN,Desoto,Devin Hunter,NaN,199550.0,204500,2020-09-05,2021-03-05,Realty One Group Dream,Melissa Reynolds
3719,21752168,NaN,Residential,Single Fam,NaN,Philwood,Karen Welch,NaN,209000.0,209000,2020-11-16,2021-05-16,"Carpenter, REALTORS®",Donna Robinson
3720,21734884,NaN,Residential,Single Fam,NaN,Rosner,Nancy Dewbrew,NaN,214900.0,214900,2020-08-25,2021-02-24,Central Indiana Real Estate LL,Nancy A. Dewbrew
3721,21745998,NaN,Residential,Single Fam,NaN,14TH,Jordan Moody,NaN,225000.0,225000,2020-10-15,2021-04-15,CENTURY 21 Scheetz,Sandra Ginn

In [10]:
marion_19 = pd.merge(marion19_listing, marion19_single_line, left_on = 'MLSNumber', right_on = 'BLC # ')

marion_19

,MLSNumber,NewConstructionYN,PropertyType,PropertySubType,StreetNumberAlpha,StreetName,ListAgentFullName,CoListAgentFullName,OriginalListPrice,ListPrice,...,Subdivision,# Fireplaces,Lvls,Gar,# of Garage Spaces,Sq Ft Main Upper,Basement,Total Sq Ft,DOM,List Office MLSID
0,21646528,NaN,Residential,Single Fam,NaN,Illinois,Tom McNulty,NaN,974900.0,799900,...,NORTH MERIDIAN HILLS,2,1HALF,ATTACH,2,"3,412",Yes,"5,716",484,MCNU01
1,21651933,NaN,Residential,Single Fam,NaN,52nd,Keith Dedrick,NaN,3300000.0,489000,...,BROOKHAVEN,1,1LEVL,DETATCH,1,936,No,936,356,CORP01
2,21664090,NaN,Residential,Single Fam,NaN,Leland,Charlene Gaard,NaN,65000.0,65000,...,EMERSON GARDENS,0,1LEVL,DETATCH,2,840,No,840,515,NOLI01
3,21651300,NaN,Residential,Single Fam,NaN,Parklake,Keith Dedrick,NaN,3300000.0,489000,...,PARK VIEW AT WELLINGTON,0,1LEVL,ATTACH,2,"1,240",No,"1,240",356,CORP01
4,21664092,NaN,Residential,Single Fam,NaN,Eugene,Charlene Gaard,NaN,90000.0,90000,...,BRADENS,0,1HALF,DETATCH,1,"1,884",Yes,"1,884",514,NOLI01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12784,21679870,NaN,Residential,Single Fam,NaN,FOREST RISE,Robyn Breece,NaN,164990.0,164990,...,THE WOODS AT BEECH GROVE,0,2LEVL,ATTACH,2,"1,592",No,"1,592",5,EZST01
12785,21680832,NaN,Residential,Single Fam,NaN,Auburn,David Morris,NaN,95000.0,95000,...,EVERETT M SCHOFIELD,0,1LEVL,DETATCH,1,660,Yes,"1,320",1,EXPL01
12786,21681131,NaN,Residential,Single Fam,NaN,Presto,Shelly Wilson,NaN,129900.0,129900,...,SCHLOSS HOME PLACE,0,1LEVL,DETATCH,2,864,Yes,"1,728",3,REAR03
12787,21678923,NaN,Residential,Single Fam,NaN,Cunningham,Karen Welch,NaN,148500.0,148500,...,BAKERS WALNUT GROVE,0,1LEVL,DETATCH,1,"1,060",Yes,"2,120",2,TUCK04
12788,21670216,NaN,Residential,Single Fam,NaN,Nash,Christopher G. Price,NaN,200000.0,190000,...,SPEEDWAY CUNNINGHAM PARK,0,1LEVL,DETATCH,1,"1,040",Yes,"2,080",21,KWIN04

In [11]:
marion_20 = pd.merge(marion20_listing, marion20_single_line, left_on = 'MLSNumber', right_on = 'BLC # ')

marion_20

,MLSNumber,NewConstructionYN,PropertyType,PropertySubType,StreetNumberAlpha,StreetName,ListAgentFullName,CoListAgentFullName,OriginalListPrice,ListPrice,...,Subdivision,# Fireplaces,Lvls,Gar,# of Garage Spaces,Sq Ft Main Upper,Basement,Total Sq Ft,DOM,List Office MLSID
0,21732062,NaN,Residential,Condo,NaN,Potomac Square,LaTasha Stevenson,NaN,130000.0,130000,...,GEORGETOWN,1,2LEVL,ATTACH,2,"1,600",No,"1,600",11,SVTN01
1,21734409,NaN,Residential,Single Fam,NaN,SEDGE MEADOW,Joshua Baradaran-Dilmaghani,NaN,869900.0,839900,...,THE PRESERVE AT EAGLE CREEK,2,1HALF,"ATTACH,MULTI",4+,"4,823",Yes,"8,646",150,WSRL01
2,21730974,NaN,Residential,Single Fam,NaN,Andre,James Stone,NaN,895000.0,895000,...,NORMANDY FARMS,2,2LEVL,ATTACH,3,"3,256",Yes,"5,203",163,BHHS01
3,21715582,NaN,Residential,Condo,NaN,Meridian,Rodney Heard,Jason Miller,174900.0,159000,...,TARKINGTON TOWER,0,1LEVL,ATTACH,1,"1,000",No,"1,000",235,EXPL01
4,21729240,NaN,Residential,Single Fam,NaN,40TH,Dave Ellis,NaN,190000.0,164999,...,NORTHERN HEIGHTS,1,1LEVL,NONE,NaN,"1,261",Yes,"2,445",171,CBRL01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16894,21745947,NaN,Residential,Single Fam,NaN,Lynhurst,Donna Robinson,NaN,167000.0,159900,...,SCHLOSS HOME PLACE,0,1LEVL,DETATCH,2,"1,160",Yes,"1,547",17,CARP04
16895,21750995,NaN,Residential,Single Fam,NaN,Ford,Daniel Nohe,Tina Nohe,160000.0,160000,...,SPEEDWAY CITY,0,1LEVL,DETATCH,1,"1,116",No,"1,116",3,FARE01
16896,21749435,NaN,Residential,Single Fam,NaN,MAREN,Geneva Tyler,NaN,185000.0,173900,...,FALENDERS MEADOWOOD,0,1LEVL,DETATCH,2,"1,200",Yes,"2,400",10,CRRD01
16897,21749028,NaN,Residential,Single Fam,NaN,MACARTHUR,Sandra Ginn,NaN,169900.0,169900,...,SCHLOSS HOME PLACE,0,1LEVL,"ATTACH,DETATCH,MULTI",3,864,Yes,"1,728",3,CESC01
16898,21752168,NaN,Residential,Single Fam,NaN,Philwood,Karen Welch,NaN,209000.0,209000,...,FALENDERS MEADOWOOD,0,1LEVL,ATTACH,2,"1,160",Yes,"2,320",2,TUCK04

In [12]:
johnson_19 = pd.merge(johnson19_a, johnson19a, left_on = 'MLSNumber', right_on = 'BLC # ')

johnson_19

,MLSNumber,NewConstructionYN,PropertyType,PropertySubType,StreetNumberAlpha,StreetName,ListAgentFullName,CoListAgentFullName,OriginalListPrice,ListPrice,...,Subdivision,# Fireplaces,Lvls,Gar,# of Garage Spaces,Sq Ft Main Upper,Basement,Total Sq Ft,DOM,List Office MLSID
0,21666772,NaN,Residential,Single Fam,NaN,Acorn,Jeffrey Paxson,Colleen M. Gordon,109000.0,109000,...,DEER RUN,0,2LEVL,ATTACH,2,"1,450",No,"1,450",30,JPTM01
1,21672627,NaN,Residential,Single Fam,NaN,Galaxy,Sheila Bowles,NaN,125000.0,125000,...,DEER TRACE,0,2LEVL,ATTACH,1,"2,006",No,"2,006",69,LLND01
2,21653501,NaN,Residential,Single Fam,NaN,Old Smith Valley,Eddie Rogers,NaN,39900.0,39900,...,GREENWOOD,0,1LEVL,NONE,NaN,"2,278",Yes,"3,417",24,URE 01
3,21666894,NaN,Residential,Single Fam,NaN,TRESSLAR,Suzanne Roell-Carlson,Kathleen M. Roell,74900.0,74900,...,NO SUBDIVISION,0,1LEVL,CARPORT,1,650,No,650,3,STCR01
4,21642138,NaN,Residential,Single Fam,NaN,Hiatt,Penni D. Mayes,NaN,87000.0,87000,...,CHARLES HIATTS,1,1LEVL,DETATCH,2,"1,494",No,"1,494",20,TUCK20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1896,21662829,NaN,Residential,Single Fam,NaN,Eisenhower,Chase Simpson,NaN,164000.0,164000,...,PROSSER ADDITION,0,1LEVL,OTHER,NaN,"1,810",No,"1,810",5,FCEE01
1897,21658082,NaN,Residential,Single Fam,NaN,Park,Justin Lollar,NaN,174900.0,174900,...,MEADOW VILLAGE,0,1LEVL,ATTACH,2,"1,850",No,"1,850",27,FMTR01
1898,21643862,NaN,Residential,Single Fam,NaN,Cambridge,Justin Lollar,NaN,189900.0,189900,...,EDINBURGH,1,2LEVL,ATTACH,2,"1,696",No,"1,696",69,FMTR01
1899,21652778,NaN,Residential,Single Fam,NaN,550,Eric Eisenmenger,NaN,184900.0,184900,...,NO SUBDIVISION,0,1LEVL,ATTACH,2,"1,269",No,"1,269",4,TRST01
1900,21670665,NaN,Residential,Single Fam,NaN,400,Volly Burton,Woody Burton,229900.0,229900,...,NO SUBDIVISION,1,1LEVL,DETATCH,4+,"2,356",No,"2,356",1,CARP11

In [13]:
johnson_20 = pd.merge(johnson20_a, johnson20a, left_on = 'MLSNumber', right_on = 'BLC # ')

johnson_20

,MLSNumber,NewConstructionYN,PropertyType,PropertySubType,StreetNumberAlpha,StreetName,ListAgentFullName,CoListAgentFullName,OriginalListPrice,ListPrice,...,Subdivision,# Fireplaces,Lvls,Gar,# of Garage Spaces,Sq Ft Main Upper,Basement,Total Sq Ft,DOM,List Office MLSID
0,21744502,NaN,Residential,Condo,NaN,Easy Unit B,Valerie Vaughn,NaN,255000.0,255000,...,NO SUBDIVISION,1,1LEVL,ATTACH,2,"1,541",No,"1,541",110,IHRC01
1,21743726,NaN,Residential,Condo,NaN,Easy Unit A,Valerie Vaughn,NaN,265000.0,259000,...,NO SUBDIVISION,1,1LEVL,ATTACH,2,"1,578",No,"1,578",115,IHRC01
2,21757165,NaN,Residential,Single Fam,NaN,Clubhouse,Ri Khuma,NaN,269900.0,269900,...,CAREFREE,1,1LEVL,ATTACH,2,"1,958",No,"1,958",43,FTRE01
3,21754205,NaN,Residential,Single Fam,NaN,Mesa,Marie Edwards,NaN,293695.0,293695,...,Highland Knoll,0,1LEVL,ATTACH,2,"1,583",No,"1,583",67,HMSR01
4,21756817,NaN,Residential,Single Fam,NaN,Napier,Fred Nelson,NaN,297610.0,297610,...,MORNINGSIDE,0,1LEVL,ATTACH,2,"1,582",No,"1,582",45,CESC02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2253,21716160,NaN,Residential,Single Fam,NaN,Main Cross,Cindy L. Patchett,NaN,159900.0,159900,...,KINGS,1,2LEVL,DETATCH,2,"2,382",Yes,"2,911",3,RREP01
2254,21739872,NaN,Residential,Single Fam,NaN,US Highway 31,Jake R. Stiles,Jamie E. Spitler,169900.0,169900,...,NO SUBDIVISION,0,1LEVL,DETATCH,2,990,No,990,1,STIL01
2255,21752069,NaN,Residential,Single Fam,NaN,Orchard,Justin A. Lollar,NaN,189900.0,189900,...,ORCHARD PARK,0,1LEVL,ATTACH,2,"1,328",No,"1,328",1,FMTR01
2256,21697430,NaN,Residential,Single Fam,NaN,State Road 252,Justin A. Lollar,NaN,209900.0,209900,...,EDINBURGH,1,1LEVL,ATTACH,2,986,Yes,"1,972",35,FMTR01
2257,21718971,NaN,Residential,Single Fam,NaN,Cambridge,Matthew Toth,NaN,215000.0,215000,...,OLD TOWNE ESTATES,0,2LEVL,ATTACH,3,"2,084",No,"2,084",2,FMTR01

In [14]:
johnson_20.columns

Index(['MLSNumber', 'NewConstructionYN', 'PropertyType', 'PropertySubType',
       'StreetNumberAlpha', 'StreetName', 'ListAgentFullName',
       'CoListAgentFullName', 'OriginalListPrice', 'ListPrice',
       'ListingContractDate', 'ExpirationDate', 'SellingOfficeName',
       'SellingAgentFullName ', 'Unnamed: 0', 'BLC # ', 'St', 'P Type',
       'Address', 'Area', 'List/MoRnt $', 'Beds Total', 'Baths Full',
       'Baths Half', 'Sch D', 'Subdivision', '# Fireplaces', 'Lvls', 'Gar',
       '# of Garage Spaces', 'Sq Ft Main Upper', 'Basement', 'Total Sq Ft',
       'DOM', 'List Office MLSID'],
      dtype='object')

In [15]:
ListPrice = johnson_20["ListPrice"].mean()
ListPrice

266132.2373782108

In [16]:
ListPric1e = marion_20["ListPrice"].mean()
ListPric1e

222403.0682288893